<ion-header>
  <ion-toolbar>
    <ion-title>Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Partidos en curso </ion-list-header>
    <ion-item *ngFor="let partido of partidos">
      <ion-label>
        <h2>
          {{partido.equipo1.nombre}} <img src={{partido.equipo1.logo}} width="25" height="25"/>
          VS {{partido.equipo2.nombre}} <img src={{partido.equipo2.logo}} width="25" height="25"/>
        </h2>
        <h3>
          Estado: {{partido.estado}}
        </h3>
        <ion-button [routerLink] = "['./', partido.id]" color="primary"> Detalles </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
