<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fútbol
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Futbol</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-catalogo></app-catalogo>
  <div id="container">
    <strong>Partidos en vivo</strong>
    <p>Escoja una opcion</p>
    <ion-button href="app-catalogo" color="primary"> Ver Partidos </ion-button>
    <ion-button color="success"> Nuevo Partido </ion-button>
  </div>
</ion-content>
