<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button routerLink='../' fill="clear">
        <img src="assets/img/Icono.png" height="45">
      </ion-button>
    <ion-button routerLink='../' fill="clear" color="light">  Inicio </ion-button>
    <ion-button [routerLink]="['../catalogo']" fill="clear" color="light"> Partidos </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <img src="assets/img/wallpaper.jpg">
      <ion-card-title>
        <strong>Partidos en vivo</strong>
      </ion-card-title>
      <p>Dale click para conocer los partidos de la primera división</p>
      <ion-button [routerLink]="['../catalogo']" color="success">
        <ion-icon name="football-outline"></ion-icon> Ver Partidos
      </ion-button>
    </ion-card>
  </div>
</ion-content>
